// Fonts
$font-stack: Helvetica, sans-serif;
$font-size-sm: 12px
$font-size-md: 18px
$font-size-lg: 24px

// Colors
$gray-light: #aaa
$gray-default: #848f99
$background-default: #fff
$default-blue: #14aaf5


// Border
$border-radius: 3px
